/* Struckture */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d1f4ff;
  color: rgb(27, 27, 27);
}
#container {
  margin: 100px auto 50px;
  padding: 5rem 2rem 5rem 4rem;
  max-width: 60%;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
  background-color: #fafafa;
}

#current-weather {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
  gap: 1rem;
}
#forcastWeek {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  padding: 50px 70px;
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2fr, repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 0.6rem;
  background-color: rgb(236, 244, 255);
  border-radius: 1rem;
}

li.day {
  grid-row: 2;
}

li.date {
  grid-row: 3;
}

li.temp {
  grid-row: 4;
}
footer {
  text-align: center;
  font-size: 1rem;
  color: #38a5c7;
}
/* Text */
h1 {
  font-size: 3.5rem;
  line-height: 2rem;
}
h2 {
  font-size: 2rem;
  text-align: center;
}
h3 {
  font-size: 1.5rem;
  color: rgb(69, 69, 69);
}
.weather-app-unit {
  font-size: 1rem;
}
li {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(69, 69, 69);
}
a {
  color: #38a5c7;
  text-decoration: none;
}
/*Elements*/
.weather-icon-bg {
  font-size: 5rem;
  margin: 3.5rem 0 0;
}
.weather-icon-sml {
  font-size: 2.5rem;
}
#submit-btn {
  background-color: #384bc7;
  color: #fafafa;
  font-size: 1rem;
  border: #384bc7 solid 1px;
  border-radius: 15px;
  padding: 10px 15px;
}

input {
  font-size: 1rem;
  padding: 0.5rem 4rem 0.5rem 0.5rem;
  border-radius: 15px;
  border: #38a5c7 solid 1px;
}

input:focus {
  outline: none;
}
